{% extends 'base.html.twig' %}

{% block title %}From - Stage opdracht{% endblock %}

{% block stylesheets %}
    <style>
    </style>
{% endblock %}

{% block body %}
<div class="container">
    {{ Form }}
</div>
{% endblock %}
